body {
  background-image: url(https://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg);
}

nav {
  background-color: dodgerblue;
}

#aboutmeimg {
  float: left;
  margin-right: 10px;
}

.container {
  position: relative;
  width: auto;
}

.box {
  background: white;
  margin-top: 15px;
  padding: 10px;
}

#portfolio-h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.projectimages {
  margin: 10px;
}

.overlay {
  bottom: 5%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.contact-title {
  color: white;
  font-style: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .overlay {
    width: auto;
  }
  .projectimages {
    left: 17%;
  }

  #aboutmeimg {
    width: 150px;
    height: 150px;
  }
}

h2 {
  text-align: center;
}
