.container {
    width: 700px;
    margin: 0 auto;
}

.contact-title {
    color: black;
    font-style: bold;
    text-align: center;
}

body {
    background-image: url(https://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg);
  }

nav {
    background-color: dodgerblue;
}

.portfolio-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    background: white;
    margin-top: 15px;
    position: relative;
    padding: 10px;
}

.projectimages {
    margin-bottom: 20px;
    position: relative;
}

#aboutmeimg {
    float: left;
    margin-right: 10px;
}