body {
    background-image: url(https://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg);
}

nav {
    background-color: dodgerblue;
}  

#aboutmeimg {
    float: left;
    margin-right: 10px;
}

.project-container {
    position: relative;
    width: auto;
    margin: 0 auto;
}

.box {
    background: white;
    margin-top: 15px;
    padding: 10px;
}

.portfolio-h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projectimages {
    margin-bottom: 20px;
}

.overlay {
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;  
}

.contact-title {
    color: black;
    font-style: bold;
    text-align: center;
}
